.AddItem {
  &-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  &-budgetTypeFilter {
    flex-grow: 1;
  }
  &-currencyFilter {
    flex-grow: 2;
  }
  &-valueInput {
    flex-grow: 2;
    > input {
      display: block;
      width: 80px;
      height: 34px;
      padding: 0 12px;
      font-size: 14px;
      line-height: 1.4;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
  }
  &-decription {
    flex-grow: 3;
    > input {
      display: block;
      width: 450px;
      height: 34px;
      padding: 0 12px;
      font-size: 14px;
      line-height: 1.4;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
  }
  &-addButton {
    flex-grow: 2;
    > button {
      color: #fff;
      background-color: #5cb85c;
      border-color: #4cae4c;
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
    }
  }
  &-selectType,
  &-selectCurrency {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  &-selectType {
    width: 120px;
  }
  &-selectCurrency {
    width: 50px;
  }
  &-error {
    color: #d9534f;
  }
  &-button {
    &.is-disabled {
      opacity: 0.2;
    }
  }
}
